<div class="panel-group">
  <div class="panel panel-primary blockOne">
    <div class="panel-heading">
      <h1>What's New</h1>
    </div>
    <div class="panel-body">
      <p>The Latest moos from the team.</p>
    </div>
  </div>

  <div class="panel panel-default blockTwo">
    <div class="panel-heading">
      <h1 class="title">Lorem</h1>
    </div>
    <div class="panel-body">
      <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi non, harum repellat, vel
        doloremque aspernatur sapiente natus maiores voluptate cupiditate modi maxime! Maxime esse similique tempore
        ipsum est eius consectetur!</p>
    </div>
  </div>

  <div class="panel panel-default blockTwo">
    <div class="panel-heading">
      <h1 class="title">Lorem</h1>
    </div>
    <div class="panel-body">
      <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi non, harum repellat, vel
        doloremque aspernatur sapiente natus maiores voluptate cupiditate modi maxime! Maxime esse similique tempore
        ipsum est eius consectetur!</p>
    </div>
  </div>

  <div class="panel panel-default blockTwo">
    <div class="panel-heading">
      <h1 class="title">Lorem</h1>
    </div>
    <div class="panel-body">
      <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi non, harum repellat, vel
        doloremque aspernatur sapiente natus maiores voluptate cupiditate modi maxime! Maxime esse similique tempore
        ipsum est eius consectetur!</p>
    </div>
  </div>

  <div class="panel panel-default blockTwo">
    <div class="panel-heading">
      <h1 class="title">Lorem</h1>
    </div>
    <div class="panel-body">
      <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi non, harum repellat, vel
        doloremque aspernatur sapiente natus maiores voluptate cupiditate modi maxime! Maxime esse similique tempore
        ipsum est eius consectetur!</p>
    </div>
  </div>

  <div class="panel panel-default blockTwo">
    <div class="panel-heading">
      <h1 class="title">Lorem</h1>
    </div>
    <div class="panel-body">
      <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi non, harum repellat, vel
        doloremque aspernatur sapiente natus maiores voluptate cupiditate modi maxime! Maxime esse similique tempore
        ipsum est eius consectetur!</p>
    </div>
  </div>

  <div class="panel panel-default blockThree">
    <div class="panel-heading">
      <h1 class="title">Lorem</h1>
    </div>
    <div class="panel-body">
      <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi non, harum repellat, vel
        doloremque aspernatur sapiente natus maiores voluptate cupiditate modi maxime! Maxime esse similique tempore
        ipsum est eius consectetur!</p>
    </div>

  </div>
</div>