<div class="panel-group">
  <div class="panel panel-primary blockOne">
    <div class="panel-heading">
      <h1 class="title">Tour</h1>
    </div>
    <div class="panel-body">
      <p>Hop aboard and enjoy the tour!</p>
    </div>
  </div>

  <div class="panel panel-primary blockTwo">
    <div class="panel-heading">
      <h1>Hello! Remember The Milk is the smart to-do app for busy people.</h1>
    </div>
    <div class="panel-body">
      <img class="milk" src="https://via.placeholder.com/250">
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="title">We're here to help!</h1>
    </div>
    <div class="panel-body">
      <p class="employ">Since 2005, we've been helping millions of people all over the world to be more organized and productive. We'd love to help you, too! Meet the team:</p>
      <div *ngFor="let employee of employees | async">
        <img src="{{employee.img}}">
        <p class="firebase-name">{{employee.name}}</p>
      </div>
      <p class="employ">Have a question, or just want to say “hi”? We'd love to hear from you! Email us.</p>
    </div>
  </div>
</div>
