img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;

}
.firebase-name {
    text-align: center;
    color: #fff;
}

.blockOne {
    background-color: #0060bf;
    color: #fff;
}

.employ {
    color: #fff;
}

.title {
    color: #fff;
}