img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;

}
.firebase-name {
    text-align: center;
    color: #fff;
}

.blockOne {
    background-color: #0060bf;
    color: #fff;
}

.blockTwo {
    background-color: #029923
}

.employ {
    color: #fff;
}

.title {
    color: #fff;
}
.milk {
    max-width: 250px;
}

* {
    background-blend-mode: color;
}
