<footer class="foot">
  <div class='footer-nav'>
    <div>
      <ul class="nav nav-pills nav-stacked">
        <li class="footer-heading">Company</li>
        <li class="footer-body">About</li>
        <li class="footer-body">Jobs</li>
        <li class="footer-body">Press</li>
        <li class="footer-body">Blog</li>
      </ul>
      <ul class="nav nav-pills nav-stacked">
        <li class="footer-heading">Product</li>
        <li class="footer-body">Tour</li>
        <li class="footer-body">What's New</li>
        <li class="footer-body">Download Apps</li>
        <li class="footer-body">Inegrations</li>
        <li class="footer-body">Upgrade</li>
      </ul>
    </div>
    <div>
      <ul class="nav nav-pills nav-stacked">
        <li class="footer-heading">Community</li>
        <li class="footer-body">Forums</li>
        <li class="footer-body">Tester Program</li>
        <li class="footer-body">The Dairy</li>
        <li class="footer-body">Tranlations</li>
        <li class="footer-body">API</li>
      </ul>
      <ul class="nav nav-pills nav-stacked">
        <li class="footer-heading">Support</li>
        <li class="footer-body">Help Center</li>
        <li class="footer-body">Get Started</li>
        <li class="footer-body">Tips & Tricks</li>
        <li class="footer-body">Status</li>
        <li class="footer-body">Contact Us</li>
      </ul>
    </div>
  </div>
</footer>