<footer class="foot">
  <div class='footer-nav'>
    <div>
      <ul class="nav nav-pills nav-stacked">
        <li class="footer-heading">Company</li>
        <li class="willHaveATag" *ngFor="let currentFooterCompany of childFooterCompany">{{currentFooterCompany.footer}}</li>
      </ul>
      <ul class="nav nav-pills nav-stacked">
        <li class="footer-heading">Product</li>
        <li class="willHaveATag" *ngFor="let currentFooterProduct of childFooterProduct">{{currentFooterProduct.footer}}</li>
      </ul>
    </div>
    <div>
      <ul class="nav nav-pills nav-stacked">
        <li class="footer-heading">Community</li>
        <li class="willHaveATag" *ngFor="let currentFooterCommunity of childFooterCommunity">{{currentFooterCommunity.footer}}</li>
      </ul>
      <ul class="nav nav-pills nav-stacked">
        <li class="footer-heading">Support</li>
        <li class="willHaveATag" *ngFor="let currentFooterSupport of childFooterSupport">{{currentFooterSupport.footer}}</li>
      </ul>
    </div>
  </div>
</footer>