<div>
  <ul class="nav nav-pills nav-stacked">
    <li>Company</li>
    <li *ngFor="let currentFooterCompany of childFooterCompany">{{currentFooterCompany.footer}}</li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li>Product</li>
    <li *ngFor="let currentFooterProduct of childFooterProduct">{{currentFooterProduct.footer}}</li>
  </ul>
</div>
<div>
  <ul class="nav nav-pills nav-stacked">
    <li>Community</li>
    <li *ngFor="let currentFooterCommunity of childFooterCommunity">{{currentFooterCommunity.footer}}</li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li>Support</li>
    <li *ngFor="let currentFooterSupport of childFooterSupport">{{currentFooterSupport.footer}}</li>
  </ul>
</div>