<header>
  <nav class="navbar top-nav navbar-default">
    <img src="../../assets/logo_rememberthemilk.png">
    <div class="container">
      <div class="top-nav-logo">
        <div>
          <p class="top-nav-logo"></p>
          <ul class="navbar-nav top-nav-right">
            <li><p>Tour</p></li>
            <li><p>What's New</p></li>
            <li><p>Upgrade</p></li>
            <li><p>Help</p></li>
            <li><p>Log in</p></li>
           <li><p>Sign up for free</p></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>


<!-- change p tags into a tags -->