<nav class='header-nav'>
  <img routerLink="/" src="../../assets/logo_rememberthemilk.png">
  <ul>
    <li class='active'>
      <a routerLink='tour'>
        Tour
      </a>
    </li>
    <li>
      <a href='#'>
        What's New
      </a>
    </li>
    <li>
      <a href='#'>
        Upgrade
      </a>
    </li>
    <li>
      <a href='#'>
        Help
      </a>
    </li>
    <li>
      <a href='#'>
        Log in
      </a>
    </li>
    <li>
      <a href="">
        Sign up for free
      </a>
    </li>
    <div class='marker'></div>
  </ul>
</nav>

<!-- change p tags into a tags -->