.top-nav .top-nav-right > li >p {
    border-radius: 5px;
    opacity: .8;
}

.navbar-default .navbar-nav > li > p {
    color: #fff;
}

.nav > li > p {
    position: relative;
    display: block;
}
* {
    box-sizing: border-box;
}

.top-nav-right > p

p {
    text-decoration: none;
    background-color: transparent;
}
li {
    list-style: none;
}
.navbar .top-nav-right li {
    display: inline-block;
    vertical-align: top;
    font-size: 14x;
    min-width: 120px;
    max-width: 200px;
}

.navbar img {
    background-size: 179px auto;
    display: inline-block;
    margin: 12px 0 0 2px;
    position: relative;
    width: 179px;
}

/* change p tag to a tag */