<nav class='header-nav'>
  <img routerLink="/" src="../../assets/logo_rememberthemilk.png">
  <ul>
    <li class='active'>
      <a routerLink='tour'>
        Tour
      </a>
    </li>
    <li>
      <a routerLink='new'>
        What's New
      </a>
    </li>
    <li>
      <a routerLink='upgrade'>
        Upgrade
      </a>
    </li>
    <li>
      <a routerLink='help'>
        Help
      </a>
    </li>
    <li>
      <a routerLink='log-in'>
        Log in
      </a>
    </li>
    <li>
      <a routerLink='sign-up'>
        Sign up for free
      </a>
    </li>
    <div class='marker'></div>
  </ul>
</nav>

<!-- change p tags into a tags -->